<div class="options-header">
  <span class="dropdown-label">Sort by</span>
  <div class="btn-group">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
    <%= @sorted_by %>
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <% if @sorted_by == "Downloads" %>
        <li><%= link_to "Stars", params.merge(:sort => "stars", :page => "1")%></li>
      <% else %>
        <li><%= link_to "Downloads", params.merge(:sort => "downloads", :page => "1")%></li>
      <% end %>
    </ul>
  </div>
</div>

<% @themes.each_slice(2) do |slice| %>
  <div class="row">
    <% slice.each do |theme| %>
      <div class="col-lg-6">
        <div class="theme-preview light-hover">
          <h3 class="theme-title"><%= pretty_theme_name(theme.name) %></h3>
          <span class="theme-stats text-muted">
            <span>
            <i class="fa fa-star"></i>
            <%= pretty_number(theme.stars) %>
            </span>
            &nbsp
            <span><i class="fa fa-download"></i>
            <%= pretty_number(theme.downloads) %>
            </span>
          </span>
          <div class="theme-image">
            <%= image_tag theme.name+"-first", class:"img-responsive img-theme" %>
            <div class="theme-details">
              <input type="text" class="auto-select form-control"
                value="<%= theme.name %>"></input>
              <p><%= link_to "View on GitHub",repo_link(theme.repo) %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<div class="navigation-footer">
  <%= paginate @themes %>
</div>
